@import 'normalize';
@import 'mixins';
@import 'animations';

/* TODO: Be sure to add prefixes. */

/* Document Variables */
$background: url("../images/footer-lodyas.png");
$header-background: white;
$title-size: 6vh;

/* Breakpoints */

/* Application */
body {
  background: $background;
  @include fadeIn(2s);

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5vh;
    background: $header-background;

    h1 {
      font-size: $title-size;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;

      span.job-title {
        font-weight: 200;
        display: block;
        @media (min-width: 900px) {
          & {
            display: inline;
            &:before { content: " | "; }
          }
        }
      }
    }

    aside.external-links-wrapper {
      ul.external-links-list {
        @include nav-list;
        display: flex;
        justify-content: space-between;

        li {
          padding: 0 15px;
          &:first-of-type { padding-left: 0; }
          &:last-of-type { padding-right: 0; }

          a {
            display: block;
            height: $title-size + 2vh;
            width: $title-size + 2vh;

            svg {
              height: 100%;
              width: 100%;
              transition: transform .5s;

              &:hover {
                border-radius: 100%;
                fill: $header-background;
                transform: rotate(25deg);
              }
            }
          }
          &.external-link-github   svg { fill: rgb(30,215,124); &:hover { background: rgb(30,215,124); }}
          &.external-link-linkedin svg { fill: rgb(26,122,211); &:hover { background: rgb(26,122,211); }}
          &.external-link-email    svg { fill: red; &:hover { background: red; }}
        }
      }
    }
  }
  nav {
      // background: $header-background;
      width: 100%;
      border-top: 2px black solid;

      ul.nav-list {
        @include nav-list;
        display: flex;
        justify-content: center;

        li {
          color: #ccc;
          margin: 0 40px;
          padding: 15px;

          &.selected {
            color: white;
            border-bottom: 2px solid white;
          }

          &:hover {
            cursor: pointer;

          }
        }
      }
    }

  main {
    // background: $main-background;
    padding: 30px;

    section.content {
      background: rgba(81,81,81,0.7);
      border: 5px rgba(38,38,38,0.7) solid;
      padding: 20px;
      color: #eee;

      &.hidden { display: none; }
      // &.about-content { color: red; }
      // &.projects-content { color: blue; }
      // &.resume-content { color: green; }
    }
  }
  footer {
    color: #ccc;
    text-align: center;
    font-size: smaller;
  }

  p {
    font-family: 'Noto Serif', serif;
  }
}
