/* To transpile, run `sass --watch css/` from root. */

@import 'normalize';
@import 'mixins';
@import 'animations';

/* TODO: Be sure to add prefixes. */

/* Document Variables */
$background: url("../images/footer-lodyas.png") rgb(40,40,40);
$header-background: white;
$title-size: 6vh;
$font-size: 16px;
$body-font: 'Noto Sans', sans-serif;
$header-font: 'Raleway', sans-serif;
$link-color: tan;

/* Breakpoints */

/* Application */
body {
  background: $background;
  @include fadeIn(2s);
  font-size: $font-size;

  .group:after { @include clearfix; }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5vh;
    background: $header-background;

    h1 {
      font-size: $title-size;
      font-family: $header-font;
      text-transform: uppercase;

      span.job-title {
        font-weight: 200;
        display: block;
        @media (min-width: 900px) {
          & {
            display: inline;
            &:before { content: " | "; }
          }
        }
      }
    }

    aside.external-links-wrapper {
      ul.external-links-list {
        @include nav-list;
        display: flex;
        justify-content: space-between;

        li {
          padding: 0 15px;
          &:first-of-type { padding-left: 0; }
          &:last-of-type { padding-right: 0; }

          a {
            display: block;
            height: $title-size + 2vh;
            width: $title-size + 2vh;

            svg {
              height: 100%;
              width: 100%;
              transition: transform .5s;

              &:hover {
                border-radius: 100%;
                fill: $header-background;
                transform: rotate(25deg);
              }
            }
          }
          &.external-link-github   svg { fill: rgb(0,0,0); &:hover { background: rgb(0,0,0); }}
          &.external-link-linkedin svg { fill: rgb(26,122,211); &:hover { background: rgb(26,122,211); }}
          &.external-link-email    svg { fill: red; &:hover { background: red; }}
        }
      }
    }
  }
  nav {
      // background: $header-background;
      width: 100%;
      border-top: 2px black solid;

      ul.nav-list {
        @include nav-list;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 600px) {
          & {
            flex-wrap: nowrap;;
          }
        }

        li {
          color: #ccc;
          margin: 0 40px;
          padding: 15px;
          transition: color .5s;
          font-size: 1.2em;
          width: 100%;

          @media (min-width: 600px) {
            & {
              width: auto;
            }
          }

          &.selected {
            color: white;
            border-bottom: 2px solid white;
          }

          &:hover {
            cursor: pointer;
            color: white;
          }
        }
      }
    }

  main {
    padding: 30px;

    section.content {
      background: rgba(81,81,81,0.7);
      border: 5px rgba(38,38,38,0.7) solid;
      padding: 20px;
      color: #eee;
      font-family: $body-font;

      a {
        color: $link-color;
        text-decoration: none;

        &:hover { text-decoration: underline; }
      }

      // h2 { font-family: }

      &#about {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;

        @media (min-width: 600px) {
          & {
            flex-wrap: nowrap;
          }
        }

        #headshot {
          width: 80%;
          height: auto;
          margin: auto;
          border-radius: 200px;
          border: 2px #ccc solid;
          box-shadow: 0 0 50px rgba(38, 38, 38, 0.7);

          @media (min-width: 600px) {
            & {
              width: 20%;
              min-width: 150px;
              height: auto;
              margin: 10px 40px;
            }
          }
        }

        #about-content {
          // flex-basis: 50%;
        }

        li.punch {
          list-style-image: url("../images/punch-bullet.png");
        }
      }

      &#projects {
        text-align: center;

        img {
          width: 80%;
          border: 2px #ccc solid;
          margin: 30px;
        }
        .project {
          .seperator {
            color: #ccc;
          }

          .project-github, .project-link {
            display: inline-block;
            svg { fill: #ccc; }
            &:hover svg { fill: #fff; }
          }

          .project-github {
            height: 24px;
            width: 24px;
            vertical-align: bottom;
          }

          .project-link {
            height: 18px;
            width: 18px;
          }

          .description {
            font-style: italic;
          }
        }
      }

      &#resume {
        .pdfobject-container { height: 1180px; }
      }

      &.hidden { display: none; }
    }
  }
  footer {
    color: #ccc;
    text-align: center;
    font-size: smaller;
    margin-bottom: 15px;
    padding: 0 25px;
  }
}
